<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="UTF-8">
        <title>It's Time</title>
        <link href='//fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="./dist/angular-clock.css">
        <link rel="stylesheet" href="./demo/lib/css/font-awesome.min.css">
        <link rel="stylesheet" href="./demo/lib/css/github.css">
        <link rel="stylesheet" href="./demo/lib/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="./demo/app.css" rel="stylesheet">
    </head>

    <body ng-app="examples" id="top">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container" ng-controller="MenuCtrl">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs" href="#">It's Time</a>
                </div>
                <nav class="hidden-xs">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#top" role="button" class="navbar-brand">
                               It's Time
                            </a>
                        </li>
                        </li>
                    </ul>
                </nav>
                <nav class="collapse" collapse="isCollapsed" style="height: 0px;">
                    <ul class="nav navbar-nav">
                        <li><a href="#directives" ng-click="isCollapsed = !isCollapsed">Directives</a>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container">
            <section id="directives">
                <div class="page-header">
                    <h1>Time by TimeZone</h1>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-lg-offset-4" id="line-chart" ng-controller="BaseCtrl">
                        <div class="panel panel-default">
                            <div class="panel-heading">Clock with Timezone Offset</div>
                            <div class="panel-body text-center">
                                <div><!-- 
                                    <label>GMT Offset <small>In HH.MM format</small> -->
                                    <!-- </label> -->
                                    <select class="form-control" ng-model="gmtValue" placeholder="Select GMT offset value here">
                                        <option value="-12.00">−12.00</option>
                                        <option value="-11.00">−11.00</option>
                                        <option value="-10.00">−10.00</option>
                                        <option value="-9.30">−09.30</option>
                                        <option value="-9">−09.00</option>
                                        <option value="-8">−08.00</option>
                                        <option value="-7">−07.00</option>
                                        <option value="-6">−06.00</option>
                                        <option value="-5">−05.00</option>
                                        <option value="-4.3">−04.30</option>
                                        <option value="-4">−04.00</option>
                                        <option value="-3.3">−03.30</option>
                                        <option value="-3">−03.00</option>
                                        <option value="-2">−02.00</option>
                                        <option value='-1'>−01.00</option>
                                        <option value="0">GMT (00.00)</option>
                                        <option value="1">+01.00</option>
                                        <option value="2">+02.00</option>
                                        <option value="3">+03.00</option>
                                        <option value="3.30">+03.30</option>
                                        <option value="4">+04.00</option>
                                        <option value="4.30">+04.30</option>
                                        <option value="5">+05.00</option>
                                        <option value="5.30">+05.30</option>
                                        <option value="5.45">+05.45</option>
                                        <option value="6.00">+06.00</option>
                                        <option value="6.30">+06.30</option>
                                        <option value="7">+07.00</option>
                                        <option value="8">+08.00</option>
                                        <option value="8.45">+08.45</option>
                                        <option value="9">+09.00</option>
                                        <option value="9.30">+09.30</option>
                                        <option value="10">+10.00</option>
                                        <option value="10.30">+10.30</option>
                                        <option value="11">+11.00</option>
                                        <option value="11.30">+11.30</option>
                                        <option value="12">+12.00</option>
                                        <option value="12.45">+12.45</option>
                                        <option value="13">+13.00</option>
                                        <option value="14">+14.00</option>
                                    </select>
                                </div>
                                <div class="">
                                    <ds-widget-clock theme="dark" gmt-offset="gmtValue" show-gmt-info></ds-widget-clock>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script src="./demo/lib/js/angular.min.js"></script>
        <script src="./demo/lib/js/ui-bootstrap-tpls.min.js"></script>
        <script src="./demo/lib/js/rainbow.min.js"></script>
        <script src="./demo/lib/js/generic.js"></script>
        <script src="./demo/lib/js/html.js"></script>
        <script src="./demo/lib/js/javascript.js"></script>
        <script src="./angular-clock.js"></script>
        <script src="./demo/lib/js/smoothscroll.min.js"></script>
        <script src="./demo/app.js"></script>
    </body>

</html>
